html,
body {
  margin: 0;
  color: black;
}

html,
body,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  align-self: flex-start;
  margin: 0 10px 10px 0;
  padding: 15px 30px;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: bold;
}

img {
  border-radius: 30px;
}

h1 {
  text-align: center;
  color: rgb(48, 48, 48);
}

a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

/*header*/
header {
  border-bottom: 1px solid black;
}

.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  margin-top: 20px;
  padding-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  max-width: 130px;
  padding: 0.5rem;
}

nav ul li:active {
  background: black;
  color: white;
}

/*contact and login forms*/
form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form,
textarea,
input,
select {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

form div {
  margin-bottom: 20px;
}

fieldset {
  padding: 20px;
  border: none;
}

label {
  font-weight: 600;
}

textarea,
input,
select {
  padding: 8px 15px;
  margin: 5px 0;
}

textarea,
input,
form button {
  width: 100%;
}

textarea {
  resize: none;
}

form button {
  margin: 0;
  margin-top: 20px;
}

/*FeedbackMessage component*/
.error,
.success,
.formerror {
  font-weight: bold;
}

.error,
.formerror {
  color: red;
}

.success,
.formerror {
  padding: 10px;
  margin-top: 5px;
}

.error {
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
  padding: 15px 5px;
}

img {
  filter: grayscale();
}
