.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid rgb(207, 207, 207);
  margin: 6px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(250, 250, 250);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  box-shadow: 4px 6px 3px 1px rgba(73, 73, 73, 0.2);
  padding: 12px;
  cursor: pointer;
}

.img {
  border: 1px solid rgba(46, 65, 78, 0.158) !important; /* had to add !important because Next Image removes it by default */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem !important;
}

.character_title {
  font-size: 20px;
}
